[Unit]
Description=Timer for weekly KDE profile backup
Requires=kde-weekly-backup.service

[Timer]
# Run weekly on Friday at 9:00 PM
OnCalendar=Fri *-*-* 21:00:00
Persistent=true

[Install]
WantedBy=timers.target